<footer id="footer" class="footer-1" >
  <div class="main-footer widgets-dark typo-light">
  <div class="container">
  <div class="row">
    
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
    <h5 class="widget-title" style=" margin-bottom: 33px;">ISTA NTIC SYBA</h5>
    
  <p>INSTITUT SPECIALISE DE TECHNOLOGIE APPLIQUEE <span style="text-transform: uppercase;"> technologies de l'information et de la communication</span> SIDI YOUSSEF BEN ALI MARRAKECH</p>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title" style=" margin-bottom: 33px;">Adresse</h5>
  <ul class="thumbnail-widget" >
  <li>
  <div class="thumb-content"><img src="https://img.icons8.com/offices/20/000000/map-marker.png"/> &nbsp;&nbsp;Douar Jdid</div>	
  </li>
  <li>
  <div class="thumb-content" style="margin-left: 30px;">Sidi youssef ben Ali</div>	
  </li>
  <li>
  <div class="thumb-content" style="margin-left: 30px;">Marrakech</div>	
  </li>
   
  </ul>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title" style=" margin-bottom: 33px;">Suivez nous</h5>
  
    <ul class="social-footer2 "  >
      <li class=""> <a title="youtube" id="yt" target="_blank" href="https://www.youtube.com/">  </a> </li>
      <li class=""> <a href="https://www.facebook.com/" id="fb" target="_blank" title="Facebook">  </a> </li>
      <li class=""> <a href="https://twitter.com" id="tw" target="_blank" title="Twitter">  </a> </li>
      <li class=""> <a title="instagram" id="in" target="_blank" href="https://www.instagram.com/" >  </a> </li>  
    </ul>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-3">
  
  <div class="widget no-box">
  <h5 class="widget-title" style=" margin-bottom: 33px;">Nous contacter</h5>
  
  <p><span  title="Email"><img src="https://img.icons8.com/doodle/20/000000/phone.png"/> 05 24 40 41 69</span></p>
  <p><a href="mailto:info@domain.com" title="Email"><img src="https://img.icons8.com/office/20/000000/send-mass-email.png"/> info@domain.com</a></p>
  </div>
  </div>
  
  
<div style="margin: auto;" >
  
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <img src="https://img.icons8.com/plasticine/35/000000/support.png"/>&nbsp;
      <input type="text" class="form-control" placeholder="Support Technique" size="70%" >&nbsp;&nbsp;
      <button type="submit" class="btn btn-outline-success">Envoyer</button>
    </div>
    
  </form>

</div>

  </div>
  </div>
  
  </div>
  
  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
  <p>Copyright ISTA NTIC Projet © 2019/2020. All rights reserved.</p>
  
  </div>
  </div>
  </div>
  </div>
  </footer>