<div class="container"  style="margin-top: 100px;">
      <div class="row">
            <div class="col-lg-8 mx-auto">
                  <div class="alert alert-dark div"  role="alert">
                        <legend class="text-dark ">Votre dossier est en train de Validation ...... Consulter votre compte avec les informations suivantes pour avoir votre réponse ... MERCI</legend>
                        <table class="table mt-5">
                             <tr>
                                    <th>Login</th>
                                    <th>Password</th>
                             </tr>
                             <tr >
                                    <td >galaxiOuss</td>
                                    <td>123</td>
                             </tr>
                        </table>
                  </div>
            </div>
      </div>
</div>