<!--****************************Header Here******************************-->
<div class="container"  style="margin-top: 100px;">
      <h1 class='text-center'>Engagement des Formateurs Vacataires à ISTA NTIC SYBA </h1>
</div>
<!--****************************Formulaire Infos Personnels de Vacataire******************************-->
<div class="container">
      <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto mt-4 mb-4 ">
                  <div class="card card-header bg-success text-center text-white">
                        <h3 class="card-title">Informations Personnels de Vacataire</h3>
                  </div>
            <form [class.was-validated]="touched" #formateur="ngForm" (ngSubmit)="next(formateur)">
                  <div class="card card-body">
                              <div class="form-group">
                                    <div class="row">
                                          <div class="col">
                                                <label for="idCin">CIN :</label>
                                                <input name="cin" [(ngModel)]="cin" type="text" class="form-control" id="idCin" placeholder="Entrer votre CIN " required >        
                                          </div>
                                          <div class="col">
                                                <label for="idNom">Nom :</label>
                                                <input name="nom" [(ngModel)]="nom" type="text" class="form-control" id="idNom" placeholder="Entrer votre Nom " required >        
                                          </div>
                                          <div class="col">
                                                <label for="idPrenom">Prénom :</label>
                                                <input name="prenom" [(ngModel)]="prenom" type="text" class="form-control" id="idPrenom" placeholder="Entrer votre Prénom" required >        
                                          </div>
                                    </div>
                              </div>
                              
                              <div class="form-group">
                                    <label for="idDateN">Date de Naissance</label>
                                    <input name="dateN" [(ngModel)]="dateN" type="date" class="form-control" id="idDateN" placeholder="Entrer votre Date de Naissance " required>
                                </div>
                                <div class="form-group">
                                    <label for="idEmail">Email</label>
                                    <input name="email" [(ngModel)]="email" type="email" class="form-control" id="idEmail" placeholder="Entrer votre Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="idTelephone">Téléphone</label>
                                    <input name="telephone" [(ngModel)]="telephone" type="number" class="form-control" id="idTelephone" placeholder="Entrer votre Numéro de téléphone" required >
                                </div>
                                <div class="form-group">
                                    <label for="idRib">Rib</label>
                                    <input name="rib" [(ngModel)]="rib" type="number" class="form-control" id="idRib" placeholder="Entrer votre releve d'identite bancaire" required >
                                </div>
                              <div class="card-footer">
                                      <div class="form-group">
                                          <button type="submit" class="btn btn-success form-control"><b>Suivant</b>&nbsp;<i class="fas fa-forward"></i></button>
                                      </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>
<!---****************************************BISSI******************************************************-->