<h1 class="text-center">Lites des nouveaux dossier deposé</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 1</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 2</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 3</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 4</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 5</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" style="height: 180px; width: 100%; display: block;" src="../../../../assets/Images/ista.jpg" data-holder-rendered="true">
        <div class="card-body">
          <h5 class="card-title">Dossier 6</h5>
          <p class="card-text">Nom : CHRAIBI<br>Prenom : Bader<br>Email :badr.chraibibadr@gmail.com</p>
          <a href="#" class="btn btn-primary">Consulter dossier</a>
        </div>
      </div>
    </div>
  </div>
</div>