.text-book{
    width: 1112px;
    margin: 130px auto 30px;
}
.text-book .btn-save {
    margin-bottom: 3px;
}
.text-book .btn-save button{
    cursor: not-allowed;
}
.text-book__infos .row .col input {
    width: 78%;
}
.text-book h1{
    border: 2px solid #f2490c;
    padding: 1%;
    text-align: center;
    margin-bottom: 53px;
}
.text-book__infos .row{
    margin: 0;
    border: 2px solid red;
    border-right: 0;
    border-bottom: 0 ;
}
.text-book__infos .row:first-child{
    border-bottom: 0;
}
.text-book__infos .col,.text-book__infos .col-12{
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    padding: 11px 13px;
}
.text-book__infos .row:first-child .col{
    border-bottom: 0;
}
.text-book__infos .tb-col__header {
    background: rebeccapurple;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.text-book__infos .col-12 textarea{
    width: 97%;
    padding: 1% 2%;
    outline: none;
}
.text-book .btn-add{
    margin-top: 3px;
}