<div class="vac">
    <label for="vacature">Choose une vacature:</label>
    <select id="vacature" name="vacature" >
      <option selected disabled>Choose une vacature</option>
      <option value="vac1">vacature1</option>
      <option value="vac2">vacature2</option>
      <option value="vac3">vacature3</option>
      <option value="vac4">vacature4</option>
    </select>
    <button class="btn">Valider</button>
</div>

<table>
    <tr>
      <th>Nom & Prénom</th>
      <th>Semaine</th>
      <th>La Masse H</th>
    </tr>
    <tr>
      <td>Vacature1</td>
      <td>20/03/2020</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Vacature2</td>
      <td>20/03/2020</td>
      <td>8</td>
    </tr>
    
  </table>