
                  <div class="card-header">
                        <h1>Formulaire Formateur</h1>
                  </div>
                  <div class="card card-body">
                        <form (submit)="ajouter($event)">
                              <div class="form-group">
                                    <label >Nom Formateur</label>
                                    <input type="text"  name="nom" id="nomF" class="form-control"  placeholder="Entrer votre Nom">
                              </div>
                              <div class="form-group">
                                    <label >Prenom Formateur</label>
                                    <input type="text" name="prenom" id="prenomF"  class="form-control" placeholder="Entrer votre Prenom">
                              </div>
                              <div class="form-group">
                                    <label >DateN Formateur</label>
                                    <input type="text" name="dateN" id="dateF"  class="form-control" placeholder="Entrer votre Date Naissance">
                              </div>
                              <div class="form-group">
                                    <label >Télephone Formateur</label>
                                    <input type="text" name="telephone" id="telF"  class="form-control" placeholder="Entrer votre Numéro de Telephone">
                              </div>
                              <div class="form-group">
                                    <label >Réb Formateur</label>
                                    <input type="text" name="reb" id="rebF"  class="form-control" placeholder="Entrer votre Réb ">
                              </div>
                              <div class="card-footer">
                                    <div class="form-group">
                                          <button type="submit" class="btn form-control btn-dark " name="ajouter" id="btnAjouter">Ajouter</button>
                                    </div>
                              </div>
                        </form>
      
                  </div>